<div class="cart">
  {# Products #}
  {{ products|raw }}
  {# Actions #}
  <div class="cart_actions d-flex justify-content-center mb-5">
    <span class="spinner-border spinner-border-lg mr-3 d-none" role="status" aria-hidden="true"></span>
    <a href="/ajax/createorder" class="btn btn-success btn-lg js-order-create">Заказать</a>
  </div>
</div>