<div class="order">
  {# Products #}
  {{ products|raw }}
  {# Status #}
  <div class="order_status d-flex justify-content-center mb-2">
    <div class="h4">Статус: <span class="text-success">{{ status }}</span></div>
  </div>
  {# Actions #}
  {% if show_actions %}
    <div class="order_actions d-flex justify-content-center mb-5">
      <span class="spinner-border spinner-border-lg mr-3 d-none" role="status" aria-hidden="true"></span>
      <a href="/ajax/payorder/{{ order_id }}" class="btn btn-warning btn-lg js-order-pay" data-id="{{ order_id }}">Оплатить</a>
    </div>
  {% endif %}
</div>