<div class="product-teaser card mb-3" id="product-teaser-{{ id }}">
  <img class="card-img-top" src="/dist/images/preview-icon.png" alt="Empty image">
  <div class="card-body">
    <div class="product-teaser__name card-title">{{ name }}</div>
    <p class="product-teaser__price card-text text-secondary">{{ price|number_format(0, '.', ' ') }} руб.</p>
    {% if show_actions %}
      <div class="product-teaser__actions">
        {% if in_cart %}
          <a href="/app/cart" class="btn btn-secondary">В корзине</a>
        {% else %}
          <a href="/ajax/addtocart/{{ id }}" class="btn btn-primary js-add-to-cart" data-id="{{ id }}">В корзину</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>