<div class="product-list">
  {% for row in items|batch(4) %}
    <div class="row">
      {% for column in row %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          {{ column|raw }}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>