<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>MiniShop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/dist/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">MiniShop</a>
    </div>
  </nav>
  <div class="container">
    {{ body|raw }}
  </div>
</div>
<script src="/dist/js/main.js" type="text/javascript"></script>
</body>
</html>